<html>
    <head>
    </head>
    <body>
        <center>
            <h1>404 NOT FOUND</h1>
            <h3>지금까지 <%=count%>명의 사람들이 404 오류를 뿜었습니다</h3>
            <h3>이제 당신은 <%=count+1%>번째군요!</h3>
        </center>
    </body>
</html>